h1{
    font-family: cursive;
    font-weight: bold;
    font-size: 50px;
    color: darkslategrey;
}
body{
    background-image: url("bg.jpeg");
    background-size: 100% 100%;
    background-size: cover;
    text-align: center;
    margin-top: 50px;
}

.buttons{
    background-color: burlywood;
    padding: 10px 20px;
    margin:20px;
}